
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.filter {
    box-shadow: 1px 0.5px 15px 3px #e9e9e9;
    padding: 20px;
    border-radius: 10px;
}

h6 {
    font-family: 'Quicksand', sans-serif;
}

section div.col-md-8 {
    margin-top: 20px;
}

button.btn-purple {
    background-color: #c6a9e1;
    color: white;
    
}

section a.link {
    position: relative;
    top: -45px;
    left: 65px;
}

.relatable {
    margin-top: 20px;
}

button.btn-purple:hover{
    background-color: #b582e4;
}

section p.tittle {
    text-align: center;
    margin-top: -30px;
}

section button.btn-purple img{
    width: 25px;
}

.btn-outline-info {
    border-color: #b582e4 !important;
    color: #b582e4 !important;
    font-size: 12px !important;
    margin-bottom: 30px;
}

form button:hover {
    background-color: #b582e4 !important;
    color:white !important;
    text-decoration: underline !important;
}

div.filter input {
    margin-left: 10px;
    margin-top: 7px;
}

div.filter p {
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

div.filter label {
    margin-left: 28px;
}

.btn-filter {
    margin-top: 20px !important;
    padding: 5px !important;
    font-size: 20px !important;
    width: 100% !important;
    border-radius: 40px !important;
    color: white !important;
    background-color: #b582e4;
}

footer {
    margin-top: 40px;
}

.row p {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight:500;
}

p.line {
    margin-top: 12px !important;
    margin-bottom: 19.6px !important;
}

@media (min-width: 600px) and (max-width: 1400px){
    p.line-md {
        margin-top: 3px !important;
        margin-bottom: 5px !important;
    }
}


@media (max-width: 1000px){
    div p.line-sm {
        margin-top: 12px !important;
        margin-bottom: 19.6px !important;
    }
    p.line {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

